*{
    margin:0;
    padding:0;
}
.heading{
    font-size: 40px;
    margin-top: 20px;
}
body{
    background: hsla(221, 45%, 73%, 1);

background: radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(221, 45%, 73%, 1) 0%, hsla(220, 78%, 29%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BAFD9", endColorstr="#103783", GradientType=1 );
    text-align:center;

    
}
.container{
   
    height:70vh;
    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.game{
   
    
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
   
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow:0 0 1rem rgba(0, 0, 0,0.3);
    font-size:8vmin;
   
   
    
    
}
#reset-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color:black;
    color:white;
    border-radius:1rem;
    border:none;
}
#msg{
    color:beige;
    Font-size:8vmin;
}
.msg-container{
    height:100vmin;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:4rem;
}
.hide{
    display:none;
}
.new-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color:black;
    color:white;
    border-radius:1rem;
    border:none;

}
.colorx{
    
    color:#E01F2D
   
}
.coloro{
   
    color:#348756
   
}
